<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>541925138976-6a0gnr4kfmjb2fi13ntiv8s5qsqi6hg3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.541925138976-6a0gnr4kfmjb2fi13ntiv8s5qsqi6hg3</string>
	<key>API_KEY</key>
	<string>AIzaSyBKBVRcF93lHbt2b2YGU5X_FGxKuI5uHyE</string>
	<key>GCM_SENDER_ID</key>
	<string>541925138976</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.quizApp.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>study-app-c215a</string>
	<key>STORAGE_BUCKET</key>
	<string>study-app-c215a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:541925138976:ios:9f2e2b8c6f2f65620b9245</string>
</dict>
</plist>